[submodule "404"]
	path = 404
	url = https://github.com/thinkverse/404-challenge
[submodule "team"]
	path = team
	url = https://github.com/thinkverse/team-challenge/
[submodule "interior"]
	path = interior
	url = https://github.com/thinkverse/interior-challenge
[submodule "recipe"]
	path = recipe
	url = https://github.com/thinkverse/recipe-challenge
[submodule "gallery"]
	path = gallery
	url = https://github.com/thinkverse/gallery-challenge
[submodule "checkout"]
	path = checkout
	url = https://github.com/thinkverse/checkout-challenge
